<div class="sidebar mt-5 bg-light p-3 rounded">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <%= link_to admin_root_path, class: 'nav-link text-dark hover-effect d-flex align-items-center' do %>
        <i class="fas fa-tachometer-alt me-2"></i> Dashboard
      <% end %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to admin_users_path, class: 'nav-link text-dark hover-effect d-flex align-items-center' do %>
        <i class="fas fa-users me-2"></i> Users
      <% end %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to admin_photos_path, class: 'nav-link text-dark hover-effect d-flex align-items-center' do %>
        <i class="fas fa-images me-2"></i> Photos
      <% end %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to admin_albums_path, class: 'nav-link text-dark hover-effect d-flex align-items-center' do %>
        <i class="fas fa-folder me-2"></i> Albums
      <% end %>
    </li>
  </ul>
</div>