<div class="sidebar mt-5 bg-light p-3 rounded">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a class="nav-link text-dark hover-effect" href="#">
        <i class="fas fa-rss me-2"></i> Feed
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-dark hover-effect" href="#">
        <i class="fas fa-compass me-2"></i> Discover
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="https://facebook.com" class="social-link nav-link fs-6 rounded d-flex align-items-center facebook hover-effect">
        <i class="fab fa-facebook me-2"></i> <span class="link-text">Facebook</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="https://twitter.com" class="social-link nav-link fs-6 rounded d-flex align-items-center twitter hover-effect">
        <i class="fab fa-twitter me-2"></i> <span class="link-text">Twitter</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="https://instagram.com" class="social-link nav-link fs-6 rounded d-flex align-items-center instagram hover-effect">
        <i class="fab fa-instagram me-2"></i> <span class="link-text">Instagram</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="https://linkedin.com" class="social-link nav-link fs-6 rounded d-flex align-items-center linkedin hover-effect">
        <i class="fab fa-linkedin me-2"></i> <span class="link-text">LinkedIn</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="https://github.com" class="social-link nav-link fs-6 rounded d-flex align-items-center github hover-effect">
        <i class="fab fa-github me-2"></i> <span class="link-text">GitHub</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="https://youtube.com" class="social-link nav-link fs-6 rounded d-flex align-items-center youtube hover-effect">
        <i class="fab fa-youtube me-2"></i> <span class="link-text">YouTube</span>
      </a>
    </li>
  </ul>
</div>